/*STARTING PLACE OF HEADER DESIGNS HERE*/
.one{
    display: flex;
    background: linear-gradient(to right,rgb(59, 58, 58),rgb(59, 58, 58));
    height: 3em;
}
.two{
    width: 40%;
    padding-top: .20em;
    padding-left: 1em;
    padding-bottom: .30em;
}
.two a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
.one nav{
    width: 55%;
    display: flex;
    border-radius: 8px;
    position: relative;
    padding: .50em;

}
.one .five{
    width: 5%;
    padding-top: .65em;
    padding-left: 1em;
    color: white;
    display: none;
}
.one nav a{
    text-decoration: none;
    color:white;
    position: relative;
    display: inline-block;
    padding: 0 15px;
    width: 100%;
    font-size: .99em;
    height: 100%;
    z-index: 1;
}
.one nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,rgba(178, 222, 39),rgba(178, 222, 39));
    border-radius: 8px;
    transition: 0.4s;
}
.one nav a:nth-child(1):hover~span{
    left: 0;
}
.one nav a:nth-child(2):hover~span{
    left: 135px;
}
.one nav a:nth-child(3):hover~span{
    left: 259px;
}
.one nav a:nth-child(4):hover~span{
    left: 400px;
}
.one nav a:nth-child(5):hover~span{
    left: 527px;
}
/*ENDING PLACE OF HEADER DESIGNS */
body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 95vh;
    font-family: sans-serif;
}

.six{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    animation: change 30s infinite ease-in-out;
    background-image: url(img\ 4.jpg);
}
@keyframes change{
    0%{
        background-image: url(img\ 4.jpg);
    }
    50%{
        background-image: url(img\ 1.jpg);
    }
    100%{
        background-image: url(security-4907127_1920.jpg);
    }
}

/*main home page commands lines*/
.seven{
    margin: 9em 3em;
}
.seven form p:nth-child(1){
    font-size: 2.5em;
}
.seven form p:nth-child(2){
    font-size: 1.6em;
}
.seven .eight{
    font-size: 1em;
}
.seven form p:nth-child(3){
    font-size: 1.2em;
}
.seven form p:nth-child(4){
    font-size: 1.2em;
}
.seven form button{
    border-radius: 1em;
    width: 10em;
    border: 2px solid #009688;
    height: 2.5em;
    color: #fff;
    cursor: pointer;
    background: transparent;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
.seven button:hover{
    background-color: rgb(128,222,39);
}
.seven form p,p:nth-child(2) a,.seven form button{
    color: white;
    animation: news 30s infinite ease-in-out;
}
@keyframes news{
    0%{
        color: white;
    }
    50%{
        color: white;
    }
    100%{
        color: white;
    }
}
.eight:hover{
    background-color:  rgb(128,222,39);
}


